*.lock
Problem3/Pods
Problem3/Problem3.xcworkspace/xcuserdata/Alegege.xcuserdatad/UserInterfaceState.xcuserstate
Problem3/Problem3.xcworkspace/xcuserdata/Alegege.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
